/* sign up pages */
.not-logged{
    text-align: center;
}
.not-logged h2{
    margin-bottom: 3rem;
    font-size: 1.2rem;
}
.sign{
    background-color: #5712DF;
    color: white;
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}
.bottom-text{
    margin-top: 3rem;
    color: rgba(0, 0, 0, 0.7);
}

/* logged pages */
.logged{
    display: none;
}

.container{
    margin: 0;
    height: 100%;
    width: 20rem;
    padding: 5%;
    box-sizing: border-box;
}

h2{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    border-radius: 100%;
    margin-right: 0.5rem;
}
.sumary-text{
    font-size: .9rem;
    line-height: 1.6rem;
    text-align: justify;
}
.semi-important{
    font-weight: 600;
}
.important{
    font-weight: 900;
}

.options-menu{
    display: flex;
    width: 100%;
}

.options-menu button{
    background-color: transparent;
    border-bottom: #5712DF solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    cursor: pointer;
    padding: .5rem 0;
}

.selected{
    font-weight: bold;
    color: #5712DF;
}

.disclaimer{
    color: rgba(0, 0, 0, 0.4);
}